<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = 'utf-8'>
  <title>Pizza Shop</title>
  <link rel='stylesheet' href='/style.css'</>
</head>
<body>
  <nav>
    <ul>
    <li><a href="/pizzas">Current Pizza Orders</a></li>
      <li><a href="/pizzas/new">Create A Pizza Order</a></li>
      <li></li>
      <li></li>
    </ul>
  </nav>



  <%= yield %>
</body>
</html>